[
  {
    "tracker": "rutracker", 
    "hash": "e9c1a82537528e7053659807a002548b", 
    "id": "3747359", 
    "descr": "HIMYM s7"
  }, 
  {
    "tracker": "rutracker", 
    "hash": "ad8c514cb22f1c06cfd0cc3e4533de2f", 
    "id": "3748352", 
    "descr": "TBBT s5"
  }
]